/* 

NOTE: standard styling for all components in this project are done in the: 
      tags located at the bottom of each ".js" component file that look like 
      this: <style jsx>{`...`}</style> ...the stylings that need to be 
      shared by multiple components are included below in this file.

*/

/* https://tailwindcss.com/docs/installation */
/* https://youtu.be/bxmDnn7lrnk?t=559 */
/* imports the base functionality per Tailwind-css docs */
/* https://tailwindcss.com/docs/installation */
@tailwind base; /* tailwind directive */
@tailwind components; /* tailwind directive */
@tailwind utilities; /* tailwind directive */

/* This section of styles is used to style the MDX Markdown files */

/* Article Title */
h1 {
  @apply standard-font-1 px-4 text-5xl text-zinc-700;
}

/* Article Section Title */
h2 {
  @apply standard-font-1 px-4 text-3xl text-zinc-800;
}

/* Article Main Body Text */
p {
  @apply standard-font-3 px-4 pb-8 text-base text-zinc-900;
}
/* This is the smaller text underneath images in the articles */
h4 {
  @apply standard-font-3 text-center px-4 text-sm md:px-32 lg:px-44 pb-14 text-zinc-800;
}
p a {
  @apply font-semibold text-blue-900 duration-200 hover:text-red-900 hover:underline focus:text-red-900 focus:underline;
}
h4 a {
  @apply font-semibold text-blue-900 duration-200 hover:text-red-900 hover:underline focus:text-red-900 focus:underline;
}
/* This styling effects the footnote container at the bottom of the articles */
#footnote-label {
  @apply border-slate-800 border-t-2 pt-4 pb-4;
}
/* This styling effects the individual footnotes at the bottom of the articles */
ol li {
  @apply list-decimal ml-8;
}

/* This section styles items inside of Solutions dropdown boxes */
/* Article Section Title */
.solution-dropdown h2 {
  @apply standard-font-1 px-4 text-2xl text-zinc-800;
}

/* bullet points inside of Solutions boxes and article files */
ul li {
  @apply list-disc mx-14 lg:mx-24 -translate-y-5
}

ul li a{
  @apply font-semibold text-blue-900 duration-200 hover:text-red-900 hover:underline focus:text-red-900 focus:underline
}

/* This is the primary branding font used by UCS */
/* it is imported into this project here: ./pages/_document.js */
.standard-font-1 {
  font-family: "Arial Rounded MT Bold", sans-serif;
}

/* This is the secondary branding font used by UCS  */
/* it is imported into this project here: ./pages/_document.js */
.standard-font-2 {
  font-family: "Arial", sans-serif;
  font-weight: 400; /* does nothing, included for templating only */
  font-style: normal; /* ibid. */
}

/* This is the tertiary branding font used by UCS  */
/* it is imported into this project here: ./pages/_document.js */
/* Arial is not a standard webfont and has poor support for italics & bold styling */
/* this font has both bold and italics built into it from Google Fonts */
.standard-font-3 {
  font-family: "Roboto", sans-serif;
}

/* NOTE: Standard font colors are subject to be changed per John's tastes  */

/* This is the standard font color for titles & subtitles  */
.standard-font-color-1 {
  color: #3d3d3d;
}

/* This is the standard font color for subtitles & text   */
.standard-font-color-2 {
  color: #252528;
}

/* This is the standard font color for text & footnotes   */
.standard-font-color-3 {
  color: #3f3e4e;
}

/* This section defines colors used in specialized sites */
/* ...and their respective child focus area sites as well */
/* Energy Site */
.energy-background-gradient {
  background-image: linear-gradient(to right, white, #ffefd1);
}

.energy-focus-area-button-font-color {
  color: #2a2115;
}
.energy-article-button-background-color {
  background-color: #ebe1b7;
}
.energy-article-button-font-color {
  color: #2c2216;
}
.energy-site-button-color {
  background-color: #f2bb56ff;
}
.energy-site-button-font-color {
  color: #1d140f;
}
.energy-site-focus-area-button-border-n-font-color {
  color: #19120c;
}
.energy-focus-area-title-color {
  background-color: rgba(242, 187, 86, 0.82);
}

/* Matter Site */
.matter-background-gradient {
  background-image: linear-gradient(to right, white, #edffd1);
}
.matter-focus-area-button-font-color {
  color: #0e170c;
}
.matter-article-button-background-color {
  background-color: #c7e872ff;
}
.matter-article-button-font-color {
  color: #28432fff;
}
.matter-site-button-color {
  background-color: #adeb48ff;
}
.matter-site-button-font-color {
  color: #0b1610;
}
.matter-site-focus-area-button-border-n-font-color {
  color: #090b08;
}
.matter-focus-area-title-color {
  background-color: rgba(173, 235, 72, 0.807);
}

/* Habitat Site */
.habitat-background-gradient {
  background-image: linear-gradient(to right, white, #d1fff7);
}
.habitat-focus-area-button-font-color {
  color: #011b18;
}
.habitat-article-button-background-color {
  background-color: #b7ebe0;
}
.habitat-article-button-font-color {
  color: #091414;
}
.habitat-site-button-color {
  background-color: #8ee8ceff;
}
.habitat-site-button-font-color {
  color: #0e1819;
}
.habitat-site-focus-area-button-border-n-font-color {
  color: #0c0d0d;
}
.habitat-focus-area-title-color {
  background-color: rgba(142, 232, 207, 0.834);
}

/* Cities Site */
.cities-background-gradient {
  background-image: linear-gradient(to right, white, #ffd1d1);
}

.cities-focus-area-button-font-color {
  color: #1d0f0f;
}
.cities-article-button-background-color {
  background-color: #ebb7b7;
}
.cities-article-button-font-color {
  color: #1b0d0d;
}
.cities-site-button-color {
  background-color: #ffb4b4ff;
}
.cities-site-button-font-color {
  color: #110909;
}
.cities-site-focus-area-button-border-n-font-color {
  color: #110e0e;
}
.cities-focus-area-title-color {
  background-color: rgba(255, 180, 180, 0.82);
}

/* Waste Site */
.waste-background-gradient {
  background-image: linear-gradient(to right, white, #e0ddbc);
}
.waste-focus-area-button-font-color {
  color: #16110a;
}
.waste-article-button-background-color {
  background-color: #ebe2b7;
}
.waste-article-button-font-color {
  color: #1b160b;
}
.waste-site-button-color {
  background-color: #c1b698ff;
}
.waste-site-button-font-color {
  color: #120f0d;
}
.waste-site-focus-area-button-border-n-font-color {
  color: #191613;
}
.waste-focus-area-title-color {
  background-color: rgba(193, 182, 152, 0.82);
}

/* Oceans Site */
.oceans-background-gradient {
  background-image: linear-gradient(to right, white, #d1e8ff);
}
.oceans-focus-area-button-font-color {
  color: #cbcfef;
}
.oceans-article-button-background-color {
  background-color: #b7cdeb;
}
.oceans-article-button-font-color {
  color: #0e0c1d;
}
.oceans-site-button-color {
  background-color: #647fecff;
}
.oceans-site-button-font-color {
  color: #dfe1ee;
}
.oceans-site-focus-area-button-border-n-font-color {
  color: #dfe4f1;
}
.oceans-focus-area-title-color {
  background-color: rgba(100, 127, 236, 0.827);
}

/* Space Site */
.space-background-gradient {
  background-image: linear-gradient(to right, white, #b2b2b2);
}
.space-focus-area-button-font-color {
  color: #e7e7e7;
}
.space-article-button-background-color {
  background-color: #e5e5e5;
}
.space-article-button-font-color {
  color: #1b1b1b;
}
.space-site-button-color {
  background-color: #333333ff;
}
.space-site-button-font-color {
  color: #d9d9d9;
}
.space-site-focus-area-button-border-n-font-color {
  color: #e5e5e5;
}
.space-focus-area-title-color {
  background-color: rgba(51, 51, 51, 0.793);
}

/* Costs Site */
.costs-background-gradient {
  background-image: linear-gradient(to right, white, #f0d1ff);
}
.costs-focus-area-button-font-color {
  color: #191619;
}
.costs-article-button-background-color {
  background-color: #ddb7eb;
}
.costs-article-button-font-color {
  color: #171617;
}
.costs-site-button-color {
  background-color: #b998d6ff;
}
.costs-site-button-font-color {
  color: #090911;
}
.costs-site-focus-area-button-border-n-font-color {
  color: #252228;
}
.costs-focus-area-title-color {
  background-color: rgba(185, 152, 214, 0.834);
}

/* History Site */
.history-background-gradient {
  background-image: linear-gradient(to right, white, #aed1d7);
}
.history-focus-area-button-font-color {
  color: #222425;
}
.history-article-button-background-color {
  background-color: #c8d9e7;
}
.history-article-button-font-color {
  color: #1b1c1d;
}
.history-site-button-color {
  background-color: #bed0d8ff;
}
.history-site-button-font-color {
  color: #080b0f;
}
.history-site-focus-area-button-border-n-font-color {
  color: #222222;
}
.history-focus-area-title-color {
  background-color: rgba(190, 208, 216, 0.793);
}

/* This is the css setup by Chris Bloom */
/* It is reading colors from the tailwind.config.js file */
/* All of the CSS files below should use this system */
.bloom-config-special-colors {
  @apply text-ucs-brown-100;
}
