/* 

NOTE: standard styling for all components in this project are done in the: 
      tags located at the bottom of each ".js" component file that look like 
      this: <style jsx>{`...`}</style> ...the stylings that need to be 
      shared by multiple components are included below in this file.

*/

/* https://tailwindcss.com/docs/installation */
/* https://youtu.be/bxmDnn7lrnk?t=559 */
/* imports the base functionality per Tailwind-css docs */
/* https://tailwindcss.com/docs/installation */
@tailwind base; /* tailwind directive */
@tailwind components; /* tailwind directive */
@tailwind utilities; /* tailwind directive */

/* This is the primary branding font used by UCS */
/* it is imported into this project here: ./pages/_document.js */
.standard-font-1 {
  font-family: "Arial Rounded MT Bold", sans-serif;
}

/* This is the secondary branding font used by UCS  */
/* it is imported into this project here: ./pages/_document.js */
.standard-font-2 {
  font-family: 'Arial', sans-serif;
  font-weight: 400;    /* does nothing, included for templating only */
  font-style: normal;  /* ibid. */
}

/* This is the tertiary branding font used by UCS  */
/* it is imported into this project here: ./pages/_document.js */
/* Arial is not a standard webfont and has poor support for italics & bold styling */
/* this font has both bold and italics built into it from Google Fonts */
.standard-font-3 {
  font-family: 'Roboto', sans-serif;
}

/* NOTE: Standard font colors are subject to be changed per John's tastes  */

/* This is the standard font color for titles & subtitles  */
.standard-font-color-1 {
  color: #3d3d3d;
}

/* This is the standard font color for subtitles & text   */
.standard-font-color-2 {
  color: #252528;
}

/* This is the standard font color for text & footnotes   */
.standard-font-color-3 {
  color: #3f3e4e;
}

/* This section defines colors used in specialized sites */
/* ...and their respective child focus area sites as well */
.cities-background-gradient {
  background-image: linear-gradient(
    to right,
    white,
    #ffd1d1
  );
}
.cities-focus-area-button-background-color {
  background-color: #eb8f8f;
}
.cities-article-button-background-color {
  background-color: #ebb7b7;
}








/* This is the tempoary bookmark for the different ./paths */
/* ...it will get deleted as the project progresses */
.sites-intro-font-size {
  font-size: 4rem;
}